@import "~@fantassin/utils/spacer";

$code-bg-color: #FFF !default;
$code-text-color: #000 !default;

@mixin code($bg-color: $code-bg-color, $text-color: $code-text-color) {
  display: block;
  margin: 0;
  padding: spacer(.5);
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  background-color: $bg-color;
  color: $text-color;
  white-space: pre-line;
  word-break: break-all;
}
