@import "~@fantassin/utils/media-queries";
@import "~@fantassin/utils/rem-calc";

$headings-font-weight: bold !default; // TODO: unused
$headings: (
        'h1': (),
        'h2': (),
        'h3': (),
        'h4': (),
        'h5': (),
        'h6': ()
) !default;


@function isList($toCheck) {
  @return type_of($toCheck) == "list";
}

@function getFirstKeyFromList($list) {
  @return index($list, 1);
}

@function getFirstValueFromList($list) {
  @return nth($list, 1);
}

@function getLastKeyFromList($list) {
  @return index($list, length($list));
}

@function getLastValueFromList($list) {
  @return nth($list, length($list));
}

@function getHeadingFontSize($value) {
  @if (isList($value)) {
    @return getFirstValueFromList($value);
  }
  @return $value;
}

@function getHeadingLineHeight($value) {
  @if (isList($value)) {
    @return getLastValueFromList($value);
  }
  @return $value;
}

@mixin getIntervalValues($keyHeadingToCalculate, $keyBreakpointToCalculate) {

  @if (map_has_key($headings, $keyHeadingToCalculate)) {

    $map: map-get($headings, $keyHeadingToCalculate);
    // Récupère la liste des clés de la map $breakpoints
    $breakpointsList: map-keys($breakpoints);

    // Get first value from map
    $firstKey: getFirstValueFromList(getFirstValueFromList($map));
    $firstValue: map-get($map, $firstKey);
    $firstIndex: index($breakpointsList, $firstKey);

    // Get breakpoint index
    $breakpointIndex: index($breakpointsList, $keyBreakpointToCalculate);

    // Get last value from map
    $lastKey: getFirstValueFromList(getLastValueFromList($map));
    $lastValue: map-get($map, $lastKey);
    $lastIndex: index($breakpointsList, $lastKey);

    // Calculate step between first and last key divided by indexes
    $stepFontSize: ( getHeadingFontSize($lastValue) - getHeadingFontSize($firstValue) ) / ($lastIndex - $firstIndex);
    // Add right number of steps to first value to get font-size
    $intervalFontSize: getHeadingFontSize($firstValue) + ($breakpointIndex - $firstIndex ) * $stepFontSize;
    font-size: rem-calc(round($intervalFontSize));

    @if (isList($firstValue) AND isList($lastValue)) {
      // Calculate step between first and last key divided by indexes
      $stepLineHeight: ( getHeadingLineHeight($lastValue) - getHeadingLineHeight($firstValue) ) / ($lastIndex - $firstIndex);
      // Add right number of steps to first value to get line-height
      $intervalLineHeight: getHeadingLineHeight($firstValue) + ($breakpointIndex - $firstIndex ) * $stepLineHeight;
      line-height: rem-calc(round($intervalLineHeight));
    }
  }
}

@mixin displayHeadingValues($value) {
  font-size: rem-calc(getHeadingFontSize($value));

  @if (isList($value)) {
    line-height: rem-calc(getHeadingLineHeight($value));
  }
}

@mixin generateHeading($keyHeading) {
  @if (map_has_key($headings, $keyHeading)) {
    $valueHeading: map-get($headings, $keyHeading);
    // Get all keys from $breakpoints map
    $breakpointsList: map-keys($breakpoints);
    @each $keyBreakpoint, $valueBreakpoint in $breakpoints {
      @if (map-has-key($valueHeading, $keyBreakpoint)) {
        // If $valueHeading as current breakpoint display it
        @include breakpoint($keyBreakpoint) {
          $value: map-get($valueHeading, $keyBreakpoint);
          @include displayHeadingValues($value);
        }
        // Check if $valueHeading is not empty
      } @else if (length($valueHeading) > 0) {
        // Get last breakpoint mention in $valueHeading
        $lastBreakpointInHeadings: getFirstValueFromList(getLastValueFromList($valueHeading));
        // Check if breakpoint is correctly spell
        @if (map-has-key($breakpoints, $lastBreakpointInHeadings)) {
          // Get index from
          $lastBreakpointInHeadingsIndex: index($breakpointsList, $lastBreakpointInHeadings);
          // Get index from  current breakpoint
          $currentBreakpointIndex: index($breakpointsList, $keyBreakpoint);
          // Current breakpoint is larger than last breakpoint mention in $valueHeading ?
          @if ($lastBreakpointInHeadingsIndex >= $currentBreakpointIndex) {
            // Display interpolate value within correct breakpoint
            @include breakpoint($keyBreakpoint) {
              @include getIntervalValues($keyHeading, $keyBreakpoint);
            }
          }
        }
      }
    }
  }
}

// Alias to generateHeading
@mixin getHn($keyHeading){
  @include generateHeading($keyHeading)
}
