@mixin p() {
  text-rendering: optimizeLegibility;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
}

@mixin small() {
  font-size: 13px;
  line-height: 19px;
}

@mixin large() {
  font-size: 20px;
  line-height: 24px;
}
